@import url(./main.css);
/* @import url(./button.css); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Nunito:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	--fontFamily: "Nunito", sans-serif;
	font-family: "Nunito", sans-serif;
	/* --mainColor: #4ddbd4; */
	--mainColor: #4ddbba;
	--transparentMainColor: #28bbb867;
	--secondaryColor: #e5cfab;
	--thirdColor: #c09d69;
	background: linear-gradient(180deg, #e5cfab, rgb(255, 255, 255));
}
/* ---------------header starts here-----------------*/
#iconPageName {
	width: 25vw;
}
.pageName {
	font-weight: bold;
}
.navbar {
	display: flex;
	padding: 1rem 0.5rem;
	list-style-type: none;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	height: 100%;
}

header {
	display: flex;
	padding: 0.2rem;
	justify-content: space-between;
	background-color: var(--mainColor);
}

.hidden {
	display: none;
}
.pageName {
	font-size: 1.6rem;
}
/* Header ends here*/
